<h1>Update Band</h1>

<form action="/bands/<%= @band.id %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label for="band_name">Name:</label>
  <br>
  <input type="text" name="band[name]" value="<%= @band.name %>" id="band_name">

  <input type="submit" value="Update Band">
</form>
<br><br>
<%= link_to "<< Back", :back %>
