<h1>New Album</h1>

<form action="/albums" method="post">
  <select name="band[name]">
    <% all_bands.each do |band| %>
      <option value="<%= band.name %>"><%= band.name %></option>
    <% end %>
  </select>
  <br><br>

  <label for="album_name">Album name:</label><br>
  <input type="text" name="album[title]" value="<%= @album.title %>">

  <input type="submit" value="Save">
</form>
<br><br>
<%= link_to "<< Back", :back %>
