<h1><%= @album.title %> Tracks</h1>

<ol>
  <% @album.tracks.order('ord').each do |track| %>
  <li><%= link_to track.title, track_url(track.id) %></li>
  <% end %>
</ol>
<br><br>

<%= button_to "Back", band_url(@album.band), method: :get %>
<%= button_to "Add Track", new_album_track_url(@album.id), method: :get %>
