<div class="jumbotron">
  <h1>Want to learn how to code!</h1>
</div>
<div class="row">
  <div class="col-xs-6">
    <div class="row">
      <h1 class="page-header text-center">Meet the Team</h1>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <img src="<%= image_url('pash.jpg') %>" alt="Pash" width="130px" class="img-circle">
        <h4 class="page-header">Pash <small>husband</small></h4>

      </div>
      <div class="col-xs-4">
        <img src="<%= image_url('amanda.jpg') %>" alt="Amanda" width="130px" class="img-circle">
        <h4 class="page-header">Amanda <small>wife</small></h4>
      </div>
      <div class="col-xs-4">
        <img src="<%= image_url('together.jpg') %>" alt="Together" width="130px" class="img-circle">
        <h4 class="page-header">Bad asses <small>for life</small></h4>
      </div>
    </div>
  </div>

  <div class="col-xs-6 text-center">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
       veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
       commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
       velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
       occaecat cupidatat non proident, sunt in culpa qui officia deserunt
       mollit anim id est laborum.
    </p>
  </div>
</div>
