<h1>Contacts</h1>


<div class="row">
<div class="form-horizontal">
  <div class="col-xs-6">
    <div class="row form-group">
      <input class="form-control" type="text" placeholder="First name">
    </div>
    <div class="row form-group">
      <input class="form-control" type="text" placeholder="Last name">
    </div>
    <div class="row form-group">
      <input class="form-control" type="text" placeholder="Address">
    </div>

    <div class="row form-group">
      <div class="col-xs-6">
        <input class="form-control" type="text" placeholder="City">
      </div>
      <div class="col-xs-6">
        <input class="form-control" type="text" placeholder="State">
      </div>
    </div>

    <div class="row form-group">
      <input class="form-control" type="text" placeholder="Zipcode">
    </div>
    <br>
    <button type="button" class="btn btn-primary btn-block">Submit</button>
  </div>
</div>

  <div class="col-xs-6">
    <table class="table table-striped">
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Address</th>
      </tr>
      <tr>
        <td>Pash</td>
        <td>DeVore</td>
        <td>San Francisco, CA</td>
      </tr>
      <tr>
        <td>John</td>
        <td>Mayer</td>
        <td>Los Angeles, CA</td>
      </tr>
      <tr>
        <td>Dave</td>
        <td>Chappelle</td>
        <td>New York, NY</td>
      </tr>
      <tr>
        <td>Tiger</td>
        <td>Woods</td>
        <td>Miami, FL</td>
      </tr>
      <tr>
        <td>Amanda</td>
        <td>Chamberlain</td>
        <td>Peoria, IL</td>
      </tr>
      <tr>
        <td>Donna</td>
        <td>Hammerich</td>
        <td>Spring Valley, IL</td>
      </tr>
      <tr>
        <td>Duane</td>
        <td>Christiansen</td>
        <td>Bloomington, IL</td>
      </tr>
    </table>
  </div>
</div>
