<% if current_user.follows?(user) %>
  <!-- <%= button_to "Unfollow", user_follow_url(user), method: :delete %> -->
  <button class='follow-toggle' data-user-id="<%=user.id%>" data-follow-state='followed'></button>
<% else %>
  <!-- <%= button_to "Follow", user_follow_url(user), method: :post %> -->
  <button class='follow-toggle' data-user-id="<%=user.id%> " data-follow-state='unfollowed'></button>
<% end %>
