<form class="form list-add-form">
  <div class="form-group">
    <textarea class="form-control"></textarea>
  </div>
  <button class="btn btn-success">Add</button>
  <a href="#" class="cancel close close-lg">&times;</a>
</form>
<a class="add-list" href="#">Add List...</a>
