<h3> Cat Rental Request </h3>

<ul>
  <li>Cat: <%= @rental.cat.name %> </li>
  <li>Start date: <%= @rental.start_date %> </li>
  <li>End date: <%= @rental.end_date %> </li>
  <li>Status: <%= @rental.status %> </li>
</ul>
