<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if @user == current_user %>
    <form action="/session" method="post">
      <input name="_method" type="hidden" value="delete">
      <input type="submit" value="Logout">
    </form>
  <% end %>

<%= yield %>

</body>
</html>
